@import "tailwindcss";


:root {
    --roxo-escuro: 85 34 135;
    --roxo-claro: 172 91 253;
    --texto: 223 223 223;
    --bg-gradient: linear-gradient(135deg, #121212, #28184a);
    --glass-bg: rgba(20, 20, 20, 0.65);
    --glass-border: rgba(255, 255, 255, 0.08);
}

.lightmode {
    --roxo-escuro: 156 77 204;
    --roxo-claro: 124 58 237;
    --texto: 33 33 33;
    --bg-gradient: linear-gradient(135deg, #e2e2ff, #bfadf8);
    --glass-bg: rgba(255, 255, 255, 0.50);
    --glass-border: rgba(156, 77, 204, 0.2);
}

body {
    background: var(--bg-gradient);
    background-attachment: fixed;
    color: rgb(var(--texto));
    transition: all 0.5s ease;
}

.liquid-glass {
    background: var(--glass-bg);
    backdrop-filter: blur(30px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    border: 1px solid var(--glass-border);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
}